header {
  color: #FFF;
  height: 600px;
  background-image: url("images/payments-banner-graphic.png");
}
.nav {
  display: inline-flex;
}
a {
  color: #FFF;
  text-decoration: none;
  padding: 15px;
}
.titre {
  text-align: center;
  padding-top: 60px;
}
#free {
  color: #8787BB;
  padding: 15px;
  background-color: #FFF;
  width: 380px;
  border-radius: 5px;
}
tr {
text-align: center;
color: #565656;
}
.titre2 {
  text-align: center;
  color: #565656;
}
.ach {
  background-color: #565656;
  text-align: center;
  color: #FFF;
  padding: 15px;
}
.boite {
  display: inline-block;
  height: 444px;
  width: 644px;
}
.boite1 {
  background-color: #7CD5EF;
  height: 444px;
  width: 644px;
}
.boite2 {
  background-color: #8787BB;
  height: 444px;
  width: 644px;
}
