header {
  color: #FFF;
  height: 600px;
  background-image: url("images/payments-banner-graphic.png");
}
.nav {
  display: inline-flex;
}
a {
  color: #FFF;
  text-decoration: none;
  padding: 15px;
}
.titre {
  text-align: center;
  padding-top: 60px;
}
#free {
  color: #8787BB;
  padding: 15px;
  background-color: #FFF;
  height: 30px;
  width: 350px;
  border-radius: 5px;
}
